@font-face {
    font-family :   'Open Sans';
    src         :   url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight :   normal;
    font-style  :   normal;
}

@font-face {
    font-family :   'Open Sans Light';
    src         :   url('../fonts/OpenSans-Light-webfont.ttf') format('truetype');
    font-weight :   normal;
    font-style  :   normal;
}

body {
    font-family : "Helvetica", sans-serif;
    font-weight : 100;
    font-size   :   0.8em;
    color       :   #525250;
    background-color    :   #000;
    background-image : url('../images/space.jpg');
    background-repeat : no-repeat;
    background-size : cover;
}

a {
    color : #37a;
    text-decoration : none;
    border-bottom : 1px #7ae dashed;
}

a:visited {
    color : #72a;
    border-bottom : 1px #83b dashed;
}

a:hover {
    border-bottom-style : solid;
}

#globalmenu {
    position    :   absolute;
    top         :   -100%;
    bottom      :   auto;
    right       :   0;
    left        :   0;
    z-index     :   2;
    background  :   transparent;
    -webkit-transition : background 0.2s linear;
    -moz-transition : background 0.2s linear;
}

#globalmenu #menumenu {
    position    :   absolute;
    top         :   -100%;
    left        :   0;
    right       :   0;
    height      :   40px;
    padding     :   10px;
    color       :   #efefef;
    border-bottom   :   1px #ededed solid;
    background-image : -moz-linear-gradient(top, rgb(68, 68, 68), rgb(45, 45, 45));
    -webkit-transition : top 0.25s ease-in;
    -moz-transition : top 0.25s ease-in;
}

#globalmenu.active {
    top         :   0;
    bottom      :   0;
    background  :   rgba(0, 0, 0, 0.61);
}

#globalmenu.active #menumenu {
    top         :   0;

}

#menumenu div {
    width       :   120px;
    text-align  :   center;
    height      :   40px;
    font-size   :   1.4em;
    font-weight :   bold;
    background  :   #000;
}

#modechanger {
    float       :   left;
}

#menu_prev {
    float       :   left;
}

#menu_next {
    float       :   right;
    width       :   120px;
    text-align  :   center;
}

#world.locked .ui-resizable-handle,
#world.locked .menu {
    display     :   none !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family :   "Open Sans Light", sans-serif;
    font-weight : normal !important;
}

#stage {
    position    :   absolute;
    top         :   0;
    bottom      :   0;
    right       :   0;
    left        :   0;
    background  :   rgb(127, 127, 127); //rgb(219, 217, 214);
    -webkit-transition : -webkit-transform 0.2s ease-out;
    -moz-transition : -moz-transform 0.2s ease-out;
    z-index : 1;
    box-shadow  :   0 0 30px 30px rgba(80,160,230,0.5);
}

#stage2 {
    background : pink;
    position    :   absolute;
    top         :   0;
    bottom      :   0;
    width : 100%;
    height : 100%;
    right : 100%;
    -webkit-transition : -webkit-transform 0.2s ease-out;
    -moz-transition : -moz-transform 0.2s ease-out;
}

#world.zoom #stage2 {
    left : -25%;
}

#world.zoom .stage {
    -webkit-transform : scale(0.2);
    -moz-transform : scale(0.2);
}

.box {
    position : absolute;
    width   :   160px;
    height  :   160px;

    background-color : #f5f5f5;
    padding : 0;
    -webkit-transition : -webkit-transform 0.8s ease-out;
    -moz-transition : -moz-transform 0.8s ease-out;
    color : #666;
    overflow        :   hidden;
}

.box.ui-draggable-dragging {
    box-shadow  :   0 0 5px rgba(0,0,0,0.2)
}

.box .menu,
.box .ui-resizable-se {
    position    :    absolute;
    top            :    0;
    left        :    0;
    width        :    40px;
    height        :    40px;
    background  :   rgba(0,0,0,0.04);
    opacity        :    0;
    -webkit-transition : opacity 0.4s ease-in-out;
    -moz-transition : opacity 0.4s ease-in-out;
}

.box .menu {
    top            :    0;
    left        :    0;
}

.box .ui-resizable-se {
    bottom      :   0;
    right       :   0;
}

.box:hover .menu,
.box:hover .ui-resizable-se {
    background  :   rgba(0, 0, 0, 0.06);
}

.box .textfield {
    margin        :    10px;
    font-size    :    1.2em;
    line-height    :    140%;
    font-weight :    100;
}

.box input {
    position : absolute;
    top : 0;
    left : 0;
    right : 0;
    margin : 0;
    padding : 10px;
    font-size : 1.2em;
    border : 0;
    border-bottom : 1px rgba(0, 0, 0, 0.1) solid;
    color       :   #474747;
}

.box input:focus {
    outline: rgb(0, 194, 255) 1px solid;
    box-shadow: 0 0 10px rgba(0, 194, 255, 0.5);
}

.box img {
    margin : 10px;
    -webkit-transition : opacity 0.6s ease-in-out;
    -moz-transition : opacity 0.6s ease-in-out;
}


#world.locked .box .ui-resizable-se,
#world.locked .box .menu
{
    display     :   none !important;
}

#cmenu {
    position    : absolute;
    background : #fafafa;
    min-width : 200px;
    z-index : 1000;
    box-shadow : 0 0 10px rgba(120,120,120,0.3);
    border-radius : 3px;
    padding : 2px;
}

#cmenu ol li {
    color : #555;
    padding : 10px;
    margin : 0;
}

#cmenu ol li:hover {
    background : #dfdfdf;
    cursor : pointer;
}

/* Whatever needs to be visible on mouse move should have a place here */

body.mousemoving .box .ui-resizable-se {
    opacity : 1;
}

body.mousemoving .box .menu {
    opacity    : 1;
}

/* Extensions */

.debug {
    margin      :   10px;
    font-family :   monospace;
}

.results {
    position    :   absolute;
    top         :   44px;
    left        :   0;
    right       :   -15px;
    bottom      :   0;
    overflow-y  :   scroll;
    overflow-x  :   hidden;
}

div.result {
    padding : 10px;
    border-bottom : 1px #c9c9c9 solid;
    overflow : hidden;
    font-size   :   0.8em;
}

div.result h3 {
    font-size   :   1.8em;
    font-weight : 100;
    margin      :    0 0 10px 0;
    color       :   rgba(0, 0, 0, 0.5);
}

div.result span {
    margin      :   0;
    font-size    :    1.2em;
    line-height    :    140%;
    font-weight :    100;
}

div.result .source {
    margin : 10px 0 0 0;
    font-size   :   0.8;
    color       :   rgba(0, 0, 0, 0.4);
}

div.result img {
    float       :   left;
    max-width   :   60px;
    max-height  :   60px;
    margin      :   0 10px 10px 0;
    padding     :   2px;
    border      :   1px #e2e2e2 solid;
}


.box.colored .result h3,
.box.colored .result .source,
.box.colored {
    color       :   rgba(245, 245, 245, 0.7);
}

.box.colored a {
    color       :   rgba(0, 0, 0, 0.4);
    border-bottom : 0;
}

.wikirec {
    position    :   absolute;
    top         :   0;
    left        :   0;
    right       :   -15px;
    bottom      :   0;
    overflow-y  :   scroll;
    overflow-x  :   hidden;
    margin      :   0;
    line-height :   160%;
}

.wikirec .wikitext {
    margin      :   10px;
}

.wikirec p {
    margin      :   0 0 15px 0;
}

.wikirec h1,
.wikirec h2,
.wikirec h3 {
    color      :   rgba(0, 0, 0, 0.6);
    line-height :   120%;
}

.wikirec h1 {
    font-size   :   2em;
    margin      :    10px 0 10px 0;
    padding     :   0 0 10px 0;
    border-bottom   :   1px rgba(0, 0, 0, 0.1) solid;
}

.wikirec h2 {
    font-size   :   1.6em;
    padding     :   0 0 10px 0;
    margin      :    10px 0 10px 0;
    border-bottom   :   1px rgba(0, 0, 0, 0.1) solid;
}

.wikirec h3 {
    font-size   :   1.4em;
    margin      :    0 0 10px 0;
}

.wikirec ul, .wikirec ol {
    margin      :   10px;
    list-style  :   square;
}

.wikirec li {
    margin      :   10px;
}

.wikirec .editsection, .wikirec .metadata {
    display     :   none;
}

.wikirec .infobox {
    float       :   right;
}

.wikirec .tright {
    float       :   right;
}

.wikirec .tleft {
    float       :   left;
}

.wikirec .thumb,
.wikirec .thumbinner {
    margin      :   0;
    width       :   100% !important;
}

.wikirec .thumb img {
    margin      :   0;
    background  :   #0f0f0f;
    width       :   100%;
    height      :   auto;
}

.wikirec .thumbcaption {
    font-size   :   0.9em;
    line-height :   140%;
    font-family :   "Open Sans Light", sans-serif;
    font-weight : normal !important;
    margin      :   0 10px 20px 10px;
}

.wikirec .magnify {
    display     :   none;
}

.wikirec sup {
    vertical-align : super;
    font-size : 0.6em;
    margin-left : 3px;
}
